body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #323232;
  margin: 0;
  font-family: "Inter", sans-serif;
}
.clock {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #2a2a2a;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 5px 4px 10px 0px #00000040;
  gap: 10px;
}

.time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #323232;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 2px 6px 6px 2px #00000073;
  margin: 0;
  color: white;
}

.time-box span {
  font-size: 50px;
  font-weight: bold;
}

.time-box p {
  font-size: 14px;
  margin-top: 5px;
  color: #aaa;
}

.colon {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  margin: 0 10px;
  display: flex;
  align-items: center;
}
